
@font-face {
	font-family: 'Shevska Web';
	font-display: swap;
	font-weight: 417;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/shevska-economy_regl.woff2') format('woff2'), url('ttf/shevska-economy_regl.ttf') format('truetype');
}

@font-face {
	font-family: 'Shevska Web';
	font-display: swap;
	font-weight: 417;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('woff2/shevska-relaxed_regl.woff2') format('woff2'), url('ttf/shevska-relaxed_regl.ttf') format('truetype');
}

@font-face {
	font-family: 'Shevska Web';
	font-display: swap;
	font-weight: 417;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/shevska-lounger_regl.woff2') format('woff2'), url('ttf/shevska-lounger_regl.ttf') format('truetype');
}

@font-face {
	font-family: 'Shevska Web';
	font-display: swap;
	font-weight: 741;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/shevska-economy_emph.woff2') format('woff2'), url('ttf/shevska-economy_emph.ttf') format('truetype');
}

@font-face {
	font-family: 'Shevska Web';
	font-display: swap;
	font-weight: 741;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('woff2/shevska-relaxed_emph.woff2') format('woff2'), url('ttf/shevska-relaxed_emph.ttf') format('truetype');
}

@font-face {
	font-family: 'Shevska Web';
	font-display: swap;
	font-weight: 741;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/shevska-lounger_emph.woff2') format('woff2'), url('ttf/shevska-lounger_emph.ttf') format('truetype');
}
